<!doctype html>

<html lang=en>
  <head>
    <title>{{page.title}}</title>

    <meta charset=utf8>
    <meta name=description content="JSXHint, a JavaScript Code Quality Tool">
    <meta name=author      content="Anton Kovalyov">

    {{#if page.redirect}}
    <meta http-equiv=refresh content="0; url={{page.redirect}}">
    {{/if}}

    {{#if site.dev}}
    <link rel=stylesheet href="/res/bootstrap.css">
    <link rel=stylesheet href="/res/docs.css">
    {{else}}
    <link rel=stylesheet href="/res/docs.min.css">
    {{/if}}

    <script>
      if (window.self !== window.top)
        window.top.location.href = document.location.href;

      function jumpToOption() {
        var input = document.getElementById("jump-to-option")

        if (/^\s*$/.test(input.value))
          return false

        _gaq.push(["_trackEvent", "Docs", "jumpToOption", input.value]);

        if (window.location.pathname === "/docs/options/")
          window.location.hash = "#" + input.value
        else
          window.location = "/docs/options/#" + input.value

        return false
      }
    </script>
    <link rel="shortcut icon" href="/res/favicon.ico" />
    <link rel="icon" type="image/png" href="/res/favicon.png" />
  </head>

  <body>
    <nav class="header navbar navbar-default navbar-static-top" role="navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">JSXHint</a>
            </div>

            <ul class="nav navbar-nav">
              <li><a href="/about/">About</a></li>
              <li><a href="/docs/">Docs</a></li>
              <li><a href="/install/">Install</a></li>
              <li><a href="/contribute/">Contribute</a></li>
              <li><a href="/blog/">Blog</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <form class="navbar-form navbar-left" role="search" onsubmit="return jumpToOption()">
              <div class="form-group">
                <input id="jump-to-option" type="text" class="form-control" placeholder="Option name">
              </div>
              <button type="submit" class="btn btn-default">Jump to docs</button>
            </form>
          </div>
        </div>
      </div>
    </nav>

    <div class="container content">
      <div class="row">
        <div class="col-md-8">
          {{ content }}
        </div>

        <div class="col-md-4">
          {{#if page.sideimage}}
          <img class="sideimage" src="/res/{{ page.sideimage }}">
          {{/if}}
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- JSXHint -->
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-6870911343462183"
               data-ad-slot="2714381896"
               data-ad-format="auto"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
      </div>
    </div>

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-19747012-5', 'auto');
    ga('send', 'pageview');
    </script>
  </body>
</html>
